In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('donner_pass.csv')

In [5]:
display(df.head())

,Date,Air Temp Max (C),Air Temp Min (C),24-hour Total Precip (mm),Season Total Precip (mm),% of Precip as Snow,% of Precip as Rain,New Snow (cm),Season Total Snow (cm),Snowpack depth (cm),Snow Water Equivalent (cm),Remarks
0,1970-10-01,22.2,4.995,0,0.0,--,--,0,0.0,0,0,NaN
1,1970-10-02,24.42,4.995,0,0.0,NaN,NaN,0,0.0,0,0,NaN
2,1970-10-03,23.31,5.55,0,0.0,NaN,NaN,0,0.0,0,0,NaN
3,1970-10-04,22.755,3.33,0,0.0,NaN,NaN,0,0.0,0,0,NaN
4,1970-10-05,17.205,3.33,0,0.0,NaN,NaN,0,0.0,0,0,NaN

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17897 entries, 0 to 17896
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        17897 non-null  object
 1   Air Temp Max (C)            17897 non-null  object
 2   Air Temp Min (C)            17897 non-null  object
 3   24-hour Total Precip (mm)   17894 non-null  object
 4   Season Total Precip (mm)    17896 non-null  float64
 5   % of Precip as Snow         2809 non-null   object
 6   % of Precip as Rain         1862 non-null   object
 7   New Snow (cm)               17896 non-null  object
 8   Season Total Snow (cm)      17897 non-null  object
 9   Snowpack depth (cm)         17895 non-null  object
 10  Snow Water Equivalent (cm)  17862 non-null  object
 11  Remarks                     201 non-null    object
dtypes: float64(1), object(11)
memory usage: 1.6+ MB